<!DOCTYPE html>
<html lang = "en-US" dir = "ltr">
    <head>
        <title>Dashboard</title>
        <script src = "https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type = "text/javascript"></script>
         <!-- <script src = "dashboard.js" type = "text/javascript"></script>  -->

        <style>
            body{
                background-color: cornflowerblue;
            }
            .goalLists{
                float: left; 
                outline: black;
                outline-style: solid;
                text-align: center;
                margin-right: auto; 
                margin-left: auto;
            }
        </style>
    </head>
    <body>
        <button onclick = "window.history.back();">Back</button>
        <button onclick = "window.open('/', '_self');">Main Menu</button><br /><br />
        
        <h1 style="text-align: center;">  Dailies </h1>
        <br >
        <div id = "container" style = "width: 1200px; height: 600px; margin-right: auto; margin-left: auto;"></div>
        <br /><br />
      

        <br>
        <br>
        <h1 style="text-align: center;">  Goals  </h1>

        <div style="width: 900px; height: 600px; margin-right: auto; margin-left: auto;">
            <div class ="goalLists" id="dailygoals" style = " width: 300px; height: 400px; background-color: aliceblue; overflow:auto; ">
              <br>
              <h3 style="text-align: center;">Daily Goals</h3>
      
              <ul style="color: black; text-align: center; "> 
                <% for( let i =0; i< test[1].length; i++){ %> 
                    <%if( test[1][i].type === 'daily'){ %>
                    <p><%= test[1][i].description %></p> <% } }%>
                    
              </ul>
            </div>

            <div class ="goalLists" id="weeklygoals" style = " width: 300px; height: 400px; background-color: aliceblue; overflow:auto;">
                <br>
                <h3 style="text-align: center;">Weekly Goals</h3>
      
                <ul style="color: black; text-align: center;"> 
                <% for( let i =0; i< test[1].length; i++){%> 
                    <%if( test[1][i].type === 'weekly'){ %>
                    <p><%= test[1][i].description %></p> <%} }%>
        
                </ul>
            </div>
       
        
            <div class ="goalLists" id="monthlygoals" style = " width: 300px; height: 400px; background-color: aliceblue; overflow:auto;">
                 <br>
                <h3 style="text-align: center;">Monthly Goals</h3>
      
                <ul style="color: black; text-align: center;"> 
                <% for( let i =0; i< test[1].length; i++){%> 
                    <%if( test[1][i].type === 'monthly'){ %>
                    <p><%= test[1][i].description %></p> <%  } }%>
        
                </ul>
            </div>

        </div>
        
        <br>
        <br>
        <br >

        <% 
            let today = new Date(); 
            let start = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000); 
            let lookingAt = [new Date(Date.now() - 7 * 24 * 60 * 60 * 1000) , new Date(Date.now() - 6 * 24 * 60 * 60 * 1000), new Date(Date.now() - 5 * 24 * 60 * 60 * 1000), new Date(Date.now() - 4 * 24 * 60 * 60 * 1000), new Date(Date.now() - 3 * 24 * 60 * 60 * 1000), new Date(Date.now() - 2 * 24 * 60 * 60 * 1000), new Date(Date.now() - 1 * 24 * 60 * 60 * 1000)]; 
        
            let data =[]; 
            for(let i = 0; i < test[0].length; i++)
            {
              
                let temp = []; 
                temp = test[0][i];
                
                if( start < test[0][i][0] )
               {
                  
                   let ob =[ test[0][i][0].toLocaleDateString(), test[0][i][1] ,  test[0][i][2] ,  test[0][i][3], test[0][i][4]  , test[0][i][5], "*" ]; 
                 data.push(ob);
                    
               }
            }    
        %>
      
        <%  
               
            let newlist = []; 
            data.reverse();
            let len = data.length-1; 
            while(newlist.length != len)
            {
                let temitem =0; 
                for(let i =1; i < data.length -1; i++)
                {
                        temitem= data[i-1]; 
                       
                        if(data[i][0] < temitem[0])
                        {
                                temitem = data[i]; 
                                
                        }
                        
                }
                 
                    newlist.push(temitem); 
              
                
      
                data = data.filter(item => item !== temitem);
            }
            data = newlist;

            
           
        %>

        
        
       




      
        


        <script>
           var data =[];
            data = "<%= data %>";
             let temptracker = data.split('*'); 


             console.log(temptracker);


            var start = "<%= start %>"   ;
            
            

            var tracker =[]; 
            
            for (var i = 0 ; i < temptracker.length; i++)
            {
                
                //tracker[i].replaceAll(" ", ""); 
                //console.log(temptracker[i]);
                if(i != 0)
                {
                    temptracker[i]= temptracker[i].substring( 1, temptracker[i].length); 
                }
                if(temptracker[i] === "0"  || temptracker[i] === ",0")
                {
                        continue; 
                }
                var tempdata =temptracker[i].split(',');
                let tem =[];
                
                
                 tracker.push(tempdata);
                
            }
             //console.log(tracker);

             
            
         anychart.onDocumentReady(function () {
                 var chart = anychart.line();
                
                 let dates =[]; 

                    let energy = []; 

                    let depression = [];  

                    let anxiety = [];  

                    let stress =[]; 

                    let motivation =[]; 

                for(let i =0; i < tracker.length; i++)
                {
                    //console.log(tracker[i]); 
                    
                    // dates
                    dates.push(tracker[i][0]); 
                    
                    // index 1 
                    if(tracker[i][1] !='')
                    {
                        energy.push(tracker[i][1]);
                    }
                    // index 2
                    if(tracker[i][2] != '')
                    {
                        depression.push(tracker[i][2]);
                    }
                    // index 3 
                    if(tracker[i][3] != '')
                    {
                        anxiety.push(tracker[i][3]); 
                    }
                    // index 4
                    if(tracker[i][4] != '')
                    {
                        stress.push(tracker[i][4]);
                    }
                    // index 5
                    if(tracker[i][5] != '')
                    {
                        motivation.push(tracker[i][5]); 
                    }    


                }

                //console.log(stress);

                let tempE=[]
                for(let i = 0; i < energy.length; i++)
                {
                            tempE.push({ x: dates[i], y: energy[i] });
                }
                //console.log(tempE);
                      
                var energyline = chart.line(tempE);



                let tempM=[]
                for(let i = 0; i < motivation.length; i++)
                {
                     tempM.push({ x: dates[i], y: motivation[i]});
                }
                //console.log(tempM);
                var motivationline = chart.line(tempM);

                    
                let tempS=[]
                for(let i = 0; i < stress.length; i++)
                {
                    tempS.push({ x: dates[i], y: stress[i]});
                }
                // console.log( "tempS" +tempS);
                var stressline = chart.line(tempS);

                
                let tempD=[]
                for(let i = 0; i < depression.length; i++)
                {
                    tempD.push({ x: dates[i], y: depression[i]});
                }
                
                var depline = chart.line(tempD);


                let tempA=[]
                for(let i = 0; i < anxiety.length; i++)
                {
                    tempA.push({ x: dates[i], y: anxiety[i]});
                }
                
                var depline = chart.line(tempA);


                chart.title('Tracker data ');
                
                chart.container('container');
                chart.draw();
         });

       
         </script>
        
      
    </body>
</html>